{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block stylecontent %}
@keyframes bang {
    from {
      transform: translate3d(0,0,0);
      opacity: 1;
    }
  }
  .hoverme {
    i {
      position: absolute;
      display: block;
      left: 50%;
      top: 0;
      width: 3px;
      height: 8px;
      background: red;
      opacity: 0;
    }
  }
{% endblock %}

{% block bodycontent %}

<h1>Game for Repository {{ repository.name }}</h1>
<a href="{% url 'reset_game' repository.id %}" class="btn btn-primary">Reset Game</a>
<div class="card m-3">
    <div class="card-body h5" id="score-block">
        
    </div>
    <div class="card-body h5" id="num-of-problems-block">
        
    </div>
</div>
<div class="card m-3">
    <div class="card-body h4" id="question-block">
    </div>
</div>
<div class="card m-3">
    <div class="card-body hoverme h5" id="info-block" style="color:black;">
    </div>
</div>
{% endblock %}

{% block scriptcontent %}

function confetti(element) {
    // Remove existing <i> elements if needed
        var existingIElements = element.querySelectorAll('i');
        if (existingIElements.length > 0) {
            existingIElements.forEach(function(element) {
                element.parentNode.removeChild(element);
            });
        }

        function random(max) {
            return Math.random() * (max - 0) + 0;
        }
        var c = document.createDocumentFragment();
        var maxElements = 100; // Maximum number of elements to create
        for (var i = 0; i < maxElements; i++) {
            var styles = 'transform: translate3d(' + (random(500) - 250) + 'px, ' + (random(200) - 150) + 'px, 0) rotate(' + random(360) + 'deg);' +
                'background: hsla(' + random(360) + ',100%,50%,1);' +
                'animation: bang 2000ms ease-out forwards;' +
                'opacity: 0;';

            var e = document.createElement("i");
            e.style.cssText = styles;
            c.appendChild(e);
        }
        element.appendChild(c);
}

{% comment %} document.querySelectorAll('button').forEach(function(button) {
    button.addEventListener('click', function() {
        confetti(event, button);
    });
}); {% endcomment %}
  

function check_question_answer(event, form){
    event.preventDefault(); // Prevent default form submission behavior

    var formData = new FormData(form);
    console.log(formData);
    var xhr = new XMLHttpRequest();
    xhr.open(form.method, form.action, true);
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    
    xhr.onload = function() {
        if (xhr.status === 200) {
            var info_container = document.getElementById("info-block");
            var score_block = document.getElementById("score-block");
            var num_of_problems_block = document.getElementById("num-of-problems-block");
            var response_data = JSON.parse(xhr.responseText);
            var result = response_data["result"];
            var actual_answer = response_data["actual_answer"];
            var color = response_data["color"];
            var total_score = response_data["total_score"];
            var questions_done = response_data["questions_done"];
            info_container.innerHTML = "Actual Answer: "+actual_answer.toString()+", Points Awarded: "+result.toString();
            console.log(xhr.responseText);
            score_block.innerHTML = "Total Score: " + total_score;
            num_of_problems_block.innerHTML = "Total # of Questions Done: "+questions_done;
            // Handle success
            console.log('success!');
            info_container.style.backgroundColor=color;
            if (result == 5){
                confetti(info_container);
            }
        } else {
            // Handle error
            console.error('Error:', xhr.statusText);
        }
    };
    
    xhr.onerror = function() {
        // Handle error
        console.error('Request failed');
    };

    xhr.send(formData);

    load_more();
    return false;

}

function load_more(){
    // var repositoryId = {{ repository.id }};
    var url = "{% url 'generate_next_question' repository.id %}";
    
    fetch(url)
      .then(response => response.json())
      .then(data => {
        var container = document.getElementById('question-block');
        container.innerHTML = data.question.query;
        var form = document.createElement('form');
        form.method = "POST";
        form.action = "{% url 'check_question_answer' 1 %}".replace("1/", "")+data.question.id+"/";
        form.innerHTML = `
        {% csrf_token %}
        <input type = "number" name="answer" class="form-control m-4" required />
        <input type="submit" class="btn btn-primary m-4" value="Submit"/>`;
        form.addEventListener('submit', function(event) {
            check_question_answer(event, form);
        });
        container.appendChild(form);
    });
}

function get_initial_data() {
    var url = "{% url 'get_initial_info' repository.id %}";

    fetch(url)
        .then(response => response.json())
        .then(data => {
            var score_block = document.getElementById("score-block");
            var num_of_problems_block = document.getElementById("num-of-problems-block");
            score_block.innerHTML = "Total Score: " + data.total_score;
            num_of_problems_block.innerHTML = "Total # of Questions Done: " + data.questions_done;
        })
}

{% comment %} document.getElementById('load-more').addEventListener('click', function() {
    load_more();
}); {% endcomment %}

document.addEventListener('DOMContentLoaded', function() {
    get_initial_data();
    load_more();
});

{% endblock %}